@model ShoppingCart

<form method="post" asp-action="Details" asp-controller="Home" asp-area="Customer" class="pt-4">
    <input hidden asp-for="@Model.ProductId " />
    <div class="card container">
        <div class="card-header bg-primary text-bg-primary ml-0 row ">
            <div class="col-sm-12 col-md-6">
                <h1 class="text-white-10">@Model.Product.Title</h1>
                <p class="text-white-50">by @Model.Product.Author</p>
            </div>
            <div class="col-sm-12 col-md-6 text-end pt-4">
                <span class="badge bg-success pt-2" style="height:30px;">@Model.Product.CoverType.Name</span>
                <span class="badge bg-warning pt-2" style="height:30px;">@Model.Product.Category.Name</span>
            </div>
        </div>
        <div class="card-body row container">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-sm-12 col-lg-8">

                        <div class="row mt-2 pl-2">
                            <h6 class="text-info">ISBN : <span class="text-muted">@Model.Product.ISBN</span></h6>
                        </div>
                        <div class="row mt-2 pl-2">
                            <h6 class="text-info">
                                Description :
                                <span class="text-muted">
                                    @Html.Raw(Model.Product.Description)
                                </span>
                            </h6>
                        </div>
                        <div class="row mt-2 pl-2">
                            <h6 class="text-info pb-2">List Price: <strike class="text-muted">@Model.Product.ListPrice.ToString("c")</strike></h6>
                        </div>
                        <div class="row mt-2 text-center pl-2">
                            <div class="p-1 col-3 bg-secondary border-bottom">
                                <div>Quantity</div>
                            </div>
                            <div class="p-1 col-3 bg-secondary border-bottom">
                                <div>1-50</div>
                            </div>
                            <div class="p-1 col-3 bg-secondary border-bottom">
                                <div>51-100</div>
                            </div>
                            <div class="p-1 col-3 bg-secondary border-bottom">
                                <div>100+</div>
                            </div>
                        </div>
                        <div class="row mt-2 text-center pl-2" style="color:maroon; font-weight:bold">
                            <div class="p-1 col-3 bg-secondary">
                                <div>Price</div>
                            </div>
                            <div class="p-1 col-3 bg-secondary">
                                <div>@Model.Product.Price.ToString("c")</div>
                            </div>
                            <div class="p-1 col-3 bg-secondary">
                                <div>@Model.Product.Price50.ToString("c")</div>
                            </div>
                            <div class="p-1 col-3 bg-secondary">
                                <div>@Model.Product.Price100.ToString("c")</div>
                            </div>
                        </div>
                        <div class="mt-2 pl-2 align-items-center">
                            <h6 class="text-info">
                                Quantity
                                <input class="d-inline-block w-25 form-control" asp-for="Count" type="number" />
                            </h6>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 offset-lg-1 text-center">
                        <img src="@Model.Product.ImageUrl" class="rounded w-100" style="height: 250px ;object-fit: cover; object-position: center" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-6 pb-1">
                    <button type="submit" class="btn btn-outline-primary form-control" style="height:50px;">Add to Cart</button>
                </div>
                <div class="col-12 col-md-6 pb-1">
                    <button class="btn btn-secondary form-control " style="height:50px;" asp-action="Index">Back to Home</button>
                </div>
            </div>
        </div>
    </div>
</form>